{% extends 'base.html.twig' %}

{% block title %}Instant Zen{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-2 ms-5">
            <li class="breadcrumb-item"><a href="{{ path('home') }}" style="color: black">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('training') }}" style="color: black">Cours</a></li>
            <li class="breadcrumb-item"><a href="" style="color: black">Ajout d'un cours</a></li>
        </ol>
    </nav>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="form-profil col-11 col-sm-9 col-md-7 col-lg-10 mx-auto justify-content-center p-3">
                <h1 class="display-2 color-title text-center mb-5 mt-2">Ajout d'un cours</h1>
                <div class="col-10 col-lg-5 mx-auto">
                    {{ form_start(trainingForm) }}
                    {{ form_widget(trainingForm)}}
                    <div class="text-center d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-color fw-bold mt-3 mb-5">Ajouter</button>
                    </div>
                    {{ form_end(trainingForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}