{% extends 'base.html.twig' %}

{% block title %}Instant Zen{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-2 ms-5">
            <li class="breadcrumb-item"><a href="{{ path('home') }}" style="color: black">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('training') }}" style="color: black">Cours</a></li>
        </ol>
    </nav>
    <h1 class="d-flex justify-content-center text-center mt-2 color-title">Cours à Instant Zen</h1>
    <div class="container-fluid d-flex flex-column align-items-center text-center mt-3">
        <table class="table table-striped table-bordered border-dark w-75 ms-5 me-5">
            <thead>
            <tr>
                <th class="col-2 text-center" scope="col">Cours</th>
                <th class="col-3 text-center" scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for training in trainings %}
                <td class="d-flex justify-content-between">{{ training.name }} <a href="{{ path('training_show', { id:training.id }) }}">Accéder au cours</a></td>
                <td class="text-center">{{ training.description }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="">
            <img src="{{ asset('build/images/buddha.jpg') }}" class="img-fluid img-buddha" width="250" alt="buddha">
        </div>
    </div>
{% endblock %}
