{% extends 'base.html.twig' %}

{% block title %}Instant Zen{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-2 ms-5">
            <li class="breadcrumb-item"><a href="{{ path('home') }}" style="color: black">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('training') }}" style="color: black">Cours</a></li>
        </ol>
    </nav>
    <h1 class="d-flex justify-content-center text-center mt-3">{{ training.name }}</h1>
    <div class="container-fluid">
        <div class="row">
            <p class="d-flex justify-content-center">{{ training.description }}</p>
            <p class="d-flex justify-content-center">
                {% for equipment in training.equipment %}
                    {{ equipment.name }}
                {% endfor %}</p>
        </div>
        <div class="row d-flex justify-content-center mb-5">
            <img src="{{ training.url }}" class="rounded float-end w-25" alt="imageTraining">
        </div>
    </div>
{% endblock %}
